h1{
/*    you can use hex codes or named colors*/
    color : red;
    text-decoration: underline;
}

/*we can use ideas to styles to specific html prpopert*/
p{
 font-family :  monospace;
    font-size : 20px;
}

div {
  text-align:center;
  width:100%;
}
iframe{
  width: 1000px;
}